<div id="pins" class="transitions-enabled">
  <% @transactions.each do |transaction| %>

    <div class="box panel panel-default">
      <%= link_to image_tag(transaction.image.url(:medium)), transaction %>

      <div class="panel-body">
        <p><%= transaction.category %></p>
        <p><%= transaction.date %></p>
        <p><%= transaction.amount %></p>
        <p><%= transaction.location %></p>
        <p><%= transaction.account %></p>
        <p><%= transaction.tag %></p>
        <p><strong><%= transaction.user.email if transaction.user %></strong></p>

        <% if transaction.user == current_user %>
          <div class="actions">
          <%= link_to 'Edit', edit_transaction_path(transaction) %>
          <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
       </div>
    </div>
  <% end %>
</div>