<div id="pins" class="transitions-enabled">
  <% @transactions.each do |transaction| %>
    <div class="box panel panel-default">
      <%= image_tag transaction.image.url(:medium) %>
      <div class="panel-body">
        <%= transaction.category %>
        <%= transaction.date %>
        <%= transaction.amount %>
        <%= transaction.location %>
        <%= transaction.account %>
        <%= transaction.tag %>
        <%= transaction.user.email if transaction.user %>

        <%= link_to 'Show', transaction %>
        
        <% if transaction.user == current_user %>
          <%= link_to 'Edit', edit_transaction_path(transaction) %>
          <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>