<%= image_tag @transaction.image.url(:medium) %>

<p>
  <strong>Category:</strong>
  <%= @transaction.category %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Location:</strong>
  <%= @transaction.location %>
</p>

<p>
  <strong>Account:</strong>
  <%= @transaction.account %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @transaction.tag %>
</p>

<% if @transaction.user == current_user %>
  <%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<% end %>

<%= link_to 'Back', transactions_path %>
